{% extends 'site/base/base.html' %}

{% block body %}
    <div class="container">
        <nav class="woocommerce-breadcrumb"><a href="{% url 'homeView' %}">Anasayfa</a><span class="delimiter"><i class="fa fa-angle-right"></i></span>Şifremi Unuttum / Mail Gönderildi</nav>
        <div class="site-content-inner">
            <div id="primary" class="content-area">
                <main id="main" class="site-main">


                    <article id="post-3134" class="post-3134 page type-page status-publish hentry">

                        <div class="entry-content">
                            <div class="woocommerce">
                                <div class="woocommerce-message" role="alert">
                                    <h5>Girdiğiniz e-posta ile bir hesap varsa, şifrenizi belirleme talimatlarını size e-posta ile gönderdik. Onları kısa sürede almalısın.Bir e-posta almazsanız, lütfen kayıt olduğunuz adresi girdiğinizden emin
                                    olun ve spam klasörünüzü kontrol edin.</h5>
                                </div>
                            </div>
                        </div><!-- .entry-content -->

                    </article><!-- #post-## -->

                </main><!-- #main -->
            </div><!-- #primary -->

        </div>
    </div>
    <p>

    </p>

{% endblock %}