{% extends 'site/base/base.html' %}
{% block body %}
    <div class="container">
        <nav class="woocommerce-breadcrumb"><a href="{% url 'homeView' %}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Anasayfa</font></font></a><span class="delimiter"><i
                class="fa fa-angle-right"></i></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Şifremi Unuttum / Yeni Şifre Al</font></font>
        </nav>
        <div class="site-content-inner">
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <article id="post-3854" class="post-3854 page type-page status-publish hentry">
                        <div class="entry-content">
                            <div class="woocommerce">
                                <div class="customer-login-form">
                                    <div class="u-columns col2-set" id="customer_login">
                                        <div class="u-column1 col-1">
                                            <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Şifreni Güncelle</font></font></h2>
                                            <form class="woocommerce-form woocommerce-form-login login" method="post">
                                                {% csrf_token %}
                                                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                                    <label for="{{ form.new_password1.id_for_label }}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ form.new_password1.label }}&nbsp; </font></font><span class="required"><font
                                                            style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span></label>
                                                    {{ form.new_password1 }}
                                                </p>
                                                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                                    <label for="{{ form.new_password1.id_for_label }}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ form.new_password2.label }}&nbsp; </font></font><span class="required"><font
                                                            style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span></label>
                                                    {{ form.new_password2 }}
                                                </p>


                                                <p class="form-row">
                                                    <input type="hidden" id="woocommerce-login-nonce" name="woocommerce-login-nonce" value="87c25a9384"><input type="hidden" name="_wp_http_referer" value="/electro/my-account/">
                                                    <button type="submit" class="woocommerce-Button button" name="login" value="Log in"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Şifreyi Güncelle</font></font></button>
                                                </p>
                                            </form>


                                        </div>

                                        <div class="u-column2 col-2">

                                        </div>

                                    </div>

                                </div><!-- /.customer-login-form -->
                            </div>
                        </div><!-- .entry-content -->

                    </article><!-- #post-## -->

                </main><!-- #main -->
            </div><!-- #primary -->

        </div>
    </div>
{% endblock %}

