{% extends 'site/base/base.html' %}

{% block body %}
    <div class="container">
        <nav class="woocommerce-breadcrumb"><a href="{% url 'homeView' %}">Anasayfa</a><span class="delimiter"><i class="fa fa-angle-right"></i></span>Şifremi Unuttum / Şifre Başarıyla Değiştirildi</nav>
        <div class="site-content-inner">
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <article id="post-3134" class="post-3134 page type-page status-publish hentry">
                        <div class="entry-content">
                            <div class="woocommerce">
                                <div class="woocommerce-message" role="alert">
                                    <a href="{% url 'accounts:login' %}" class="button wc-forward">Giriş Yap</a>
                                    <h5>Şifreniz Başarıyla Güncellendi Yandaki  Butona Tıklayarak Giriş Yapabilirsiniz.</h5>
                                </div>
                            </div>
                        </div><!-- .entry-content -->
                    </article><!-- #post-## -->
                </main><!-- #main -->
            </div><!-- #primary -->

        </div>
    </div>
    <p>

    </p>

{% endblock %}